<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
      .my-footer{
        height: 5em;
        background-color: #292928;
        margin-top: 1.7em;
        padding: 1.2em;
        color: #fff;
        font-size: 80%;
      }
      .room-image{
        width: 50%;
      }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Rooms
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="primo.html">Primo</a>
                <a class="dropdown-item" href="jojo.html">Jojo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="reservation.html">Book Now</a>
              </li>
          </ul>
        </div>
      </nav>
      
    <div class="containter">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <img src="/static/images/generals-quarters.png" alt="room image" class="img-thumbnail  mx-auto d-block room-image">
            </div>
        </div>
          <div class="row"> 



            <div class="col">
                <h1 class="text-center mt-4">Primo</h1>
                <p>Chuck's House is a very suspicious B & B run by a very suspicious man named Chuck. The yard used to have a noose (which the player character insisted was a bird feeder), six broken windows, two unmarked graves, and a (locked) metal bulkhead leading to the basement, which is also the guest room. Chuck's House is a very suspicious B & B run by a very suspicious man named Chuck. The yard used to have a noose (which the player character insisted was a bird feeder), six broken windows, two unmarked graves, and a (locked) metal bulkhead leading to the basement, which is also the guest room. Chuck's House is a very suspicious B & B run by a very suspicious man named Chuck. The yard used to have a noose (which the player character insisted was a bird feeder), six broken windows, two unmarked graves, and a (locked) metal bulkhead leading to the basement, which is also the guest room.

                </p>
            </div>


            </div>
            <div class="row">
              <div class="col text-center">
                <a href="/make-reservation" class="btn btn-success" >Check availabilty</a>
              </div>
        </div>



    </div>

    <div class="row my-footer">
      <div class="col">
        Left
      </div>
      <div class="col">
        Middle
      </div>
      <div class="col">
        Right
      </div>
    </div>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>